# Editors
.idea

*.iml

# production
/build
build

# env
/.env
.env
env

#yarn
yarn-error.log
yarn.lock

# dependencies
node_modules
/node_modules
package-lock.json
npm-debug.log*
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# typescript

next-env.d.ts

build/
out/
.next/
dir/

#pnpm
.pnpm-store
.pnpm-debug.log
.pnpmfile.cjs
.pnpmrc
.pnpm/
.pnpm-lock.yaml